[submodule "externals/DSC"]
	path = externals/DSC
	url = git@github.com:illinois-or-research-analytics/DSC.git
[submodule "externals/ClusterMerger"]
	path = externals/ClusterMerger
	url = git@github.com:illinois-or-research-analytics/ClusterMerger.git
[submodule "externals/amazon-RTRExtractor"]
	path = externals/amazon-RTRExtractor
	url = git@github.com:amazon-science/amazon-RTRExtractor.git
[submodule "externals/constrained-clustering"]
	path = externals/constrained-clustering
	url = git@github.com:MinhyukPark/constrained-clustering.git
